@model IEnumerable<WebEDI.Respository.ViewModels.OrderModel>
@using WebEDI.Models
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/css/Order.css" rel="stylesheet" />

<div id="div_headerOption" class="d-block mt-2 mb-2 content_box_solid p-3">
    <div class="form-inline">
        <div class="form-group">
            <label for="DateOfAcceptance" class="col-form-label form_lable">注文日From</label>
            <input id="dateorder" type="date" size="10" class="form-control">
        </div>
        <div class="form-group">
            <label for="DateOfAcceptance" class="col-form-label form_lable">注文日To</label>
            <input id="dateend" type="date" size="10" class="form-control">
        </div>
        <div class="form-group">
            <label for="DateOfAcceptance" class="col-form-label form_lable">仕入先</label>
            <input id="idorder" type="text" size="10" class="form-control col-4">&nbsp;
            <input type="text" readonly size="20" class="form-control" id="SuplierName">
        </div>
        @using (@Html.BeginForm("Index", "Order", FormMethod.Post))
        {
            <div class="form-group">
                <label for="ReceivedDate" class="col-sm-4 col-form-label">確認区分</label>
                <div class="col-sm-7">
                    <span> @Html.DropDownList("dropdownSearch", new SelectList(ViewBag.DropSearch, "Id", "Value"))</span>
                </div>
            </div>
        }
        <div class="form-group">
            <button id="btnSearch" type="button" class="btn mr-2" onclick="order.search()">
                検索
            </button>
        </div>

    </div>
</div>

<div class="table-responsive content_box_solid">
    <form>
        @{
            Html.RenderPartial("~/Views/Order/_List.cshtml", Model);
        }
    </form>
</div>

<div id="div_footerOption" class="d-block mt-3">
    <div class="form-inline  justify-content-end">
        <button class="btn mr-2" type="button" onclick="order.showpopup()">
            メール送信
        </button>
        <button class="btn mr-2" type="button" id="btn_back">
            戻る
        </button>
    </div>
</div>

<link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/moment.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/Order.js"></script>


@{var popupModelInfo = new PopupViewModel()
    {
        JsPopupId = "dialog_infor",
        Title = ViewBag.Title,
        Content = "",// The value depends on the result responded from server
        JsContentId = "dialog_infor_content"
    };
}

@await Html.PartialAsync("_PopupClose", popupModelInfo)
@{var popupModelSave = new PopupViewModel()
    {
        JsPopupId = "dialog_confirm_sendmail",
        Title = "",
        Content = "確認催促メールを送信します。よろしいですか？",
        JsMethodYesAction = "order.sendmail()",
    };
}
@await Html.PartialAsync("_PopupYesNo", popupModelSave)
@section Scripts{
    <script src="~/js/freeze-table.js"></script>
    <script>
        $(document).ready(function () {
            reloadScrollTable();

            $(window).resize(function () {
                reloadScrollTable();
            });
        });

        function reloadScrollTable() {
            var h = $(window).height() - ($("#div_headerOption").height() + $("#div_footerOption").height() + $(".webediheader").height() + 120);
            $(".table-scrollable").css('height', h);
            $(".table-scrollable").freezeTable({
                'scrollable': true,
                'columnNum': 2,
                //'freezeColumn': false,
                'scrollBarHeight': 17
            });
        }

    </script>
}
